<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprinkler System</title>
</head>
<body>
<link href="static/style.css" rel="stylesheet">

<div class="grid-container">
    <div class="item1"><img align="left" height="80" src="static/Sprinkler.png" width="240" ><h4 align="left"> Welcome to Sprinkler Project</h4></div>

    <div class="item2"><h5>menu</h5></div>
  <div class="item3"  color='white'><h5 style = "text-align: center; color: black">Update Profile Page</h5>



      <form action = "http://localhost:8080/personalUpdate" method = post>
         <fieldset>


            <div margin-left:150px; style = font-size:20px;font-color:white;>
                <table>
                    <tr><td>
                    {{ form.name.label }}</td><td>
                    {{ form.name }}</td></tr>
                    <tr><td>
                    {{ form.email.label }}</td>><td>
                        {{ form.email }}</td></tr>

                    <tr><td>
                    {{ form.zip.label }}</td>><td>
                    {{ form.zip }}</td></tr>

                    <tr><td>
                    {{ form.country.label }}</td>><td>
                        {{ form.country }}</td></tr>

                    <tr><td>
                    {{ form.owm_appid.label }}</td>><td>
                    {{ form.owm_appid }}</td></tr>

                    <tr> <div class="btn"> {{ form.submit }} </div> </tr>
                    </table>
            </div>

         </fieldset>
      </form>

  </div>

  <div class="item5"><h5>Footer</h5></div>
</div>

</body>
</html>