.indexCSS {
  position: fixed;
  top: 0;
  left: 0;
  }




.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 1px;
}

.grid-container > div {
  text-align: center;
  padding: 1px 0;
  font-size: 30px;
}

