<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprinkler System</title>
</head>
<body>
<link href="static/style.css" rel="stylesheet">

<div class="grid-container">
    <div class="item1"><img align="left" height="80" src="static/Sprinkler.png" width="240" ><h4 align="left"> Welcome to Sprinkler Project</h4></div>

    <div class="item2"><h5>menu</h5></div>
  <div class="item3"  color='white'><h5 style = "text-align: center; color: black">Profile Details</h5>

            <div style = font-size:20px;>
                <table border="1">
                    <tr><td align="left">
                    name</td><td align="left">
                    {{ name }}</td></tr>
                    <tr><td align="left">
                    email</td><td align="left">
                    {{ email }}</td></tr>
                    <tr><td align="left">
                    zip</td><td align="left">
                    {{ zip }}</td></tr>
                    <tr><td align="left">
                    country</td><td align="left">
                    {{ country }}</td></tr>
                    <tr><td align="left">
                    owm_appid</td><td align="left">
                    {{ owm_appid }}</td></tr>

                    </table>
            </div>

  </div>

  <div class="item5"><h5>Footer</h5></div>
</div>

</body>
</html>