<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprinkler System</title>
</head>
<body>
<link href="static/style.css" rel="stylesheet">

<div class="grid-container">
    <div class="item1"><img align="left" height="80" src="static/Sprinkler.png" width="240" ><h4 align="left"> Welcome to Sprinkler Project</h4></div>

    <div class="item2"><h5>menu</h5></div>
  <div class="item3"  color='white'><h5 style = "text-align: center; color: black">Zone List</h5>


            <div style = font-size:20px;>

                <table border="1">
                    {% for list in zonelists %}
                    <tr><td align="left">
                    zone {{ list.id }}</td><td align="left" width="300">
                    {{ list.name }}</td></tr>
                    {% endfor %}
                    </table>
            </div>

  </div>

  <div class="item5"><h5>Footer</h5></div>
</div>

</body>
</html>