<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprinkler System</title>
</head>
<body>
<link href="static/style.css" rel="stylesheet">

<div class="grid-container">
    <div class="item1"><img align="left" height="80" src="static/Sprinkler.png" width="240" ><h4 align="left"> Welcome to Sprinkler Project</h4></div>

    <div class="item2"><h5>menu</h5></div>
  <div class="item3"  color='white'><h5 style = "text-align: center; color: black">Zone List</h5>

  <form action = "/zoneinfoUpdate" method = post>
    <table>
        {{ form.hidden_tag() }}

    {% for list in form.zonelists %}
          <div style = font-size:20px;font-color:white;>

              <tr>
                  {% for field in list %}

                  <td align="left"> {{ field }}  </td>


                  {% endfor %}
              </tr>
          </div>


    {% endfor %}

          <tr><td></td><td><div class="btn"> {{ form.submit }} </div></td> </tr>
    </table>
    </form>
  </div>

  <div class="item5"><h5>Footer</h5></div>
</div>

</body>
</html>