<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprinkler System</title>
</head>
<body>
<link href="static/style.css" rel="stylesheet">

<div class="grid-container">
    <div class="item1"><img align="left" height="80" src="static/Sprinkler.png" width="240" ><h4 align="left"> Welcome to Sprinkler Project</h4></div>

    <div class="item2"><h5>menu</h5></div>
  <div class="item3"  color='white'><h5 style = "text-align: center; color: black">Zone List</h5>


    <table>
    {% for list in zonelists %}
      <form action = "/zoneinfoUpdate" method = post>
          <div style = font-size:20px;font-color:white;>
              <tr><td align="left">
                zone {{ list.id }} {{form.id (value=list.id) }} </td><td align="left">
                {{ form.name (value=list.name) }}</td><td><div class="btn"> {{ form.submit }} </div></td> </tr>
          </div>

      </form>
    {% endfor %}
    </table>
  </div>

  <div class="item5"><h5>Footer</h5></div>
</div>

</body>
</html>